---
import { Image } from "astro:assets";
import logo from "../../../public/assets/shared/desktop/logo.svg";
import Text from "../atoms/Text.astro";
import { colors } from "../../design-system/colors";
import facebook from "../../../public/assets/shared/desktop/icon-facebook.svg";
import twitter from "../../../public/assets/shared/desktop/icon-twitter.svg";
import instagram from "../../../public/assets/shared/desktop/icon-instagram.svg";
---

<footer class="footer">
  <nav
    class="container flex flex-col lg:flex-row items-center lg:justify-between gap-8"
  >
    <Image src={logo} alt="logo" />

    <div
      class="flex nav-links gap-8 lg:gap-12 flex-col lg:flex-row items-center lg:items-start mt-4 mb-4 lg:mt-0 lg:mb-0"
    >
      <a href="/"><Text type="subTitle">Home</Text></a>
      <a href="https://fressia-perfumeria.kyte.site/es" target="_blank" rel="noopener"><Text type="subTitle">Catálogo</Text></a>
      <a href="https://wa.me/message/ES7WVJHY4MUYB1" target="_blank" rel="noopener"><Text type="subTitle">WhatsApp</Text></a>
    </div>
  </nav>

  <div class="container flex flex-col lg:flex-row lg:justify-between">
    <div class="w-full lg:w-[540px] flex flex-col gap-16">
      <Text
        type="body"
        className="text-center lg:text-left"
        color={colors.dimWhite}
      >
        Fressia Perfumería es tu destino para fragancias de calidad. Especialistas en réplicas 1:1, perfumes por onzas y colecciones árabes. Te ayudamos a encontrar la fragancia perfecta para cada ocasión.
      </Text>
      <Text
        type="body"
        className="text-center lg:text-left"
        color={colors.dimWhite}
      >
        Copyright 2024. Fressia Perfumería. Todos los derechos reservados.
      </Text>
    </div>
    <div
      class="w-full flex flex-col items-center lg:items-end gap-6 social-icons justify-center mt-8 lg:mt-0"
    >
      <div class="flex gap-6">
        <Image src={facebook} alt="facebook-icon" />
        <Image src={twitter} alt="twitter-icon" />
        <Image src={instagram} alt="instagram-icon" />
      </div>
      <div>
        <Text textAlign="center">
          Desarrollado con ❤️ para <a
            href="https://www.fressiaperfumeria.com/"
            >Fressia Perfumería</a>
        </Text>
      </div>
    </div>
  </div>
</footer>

<style>
  .footer {
    background-color: var(--night);
    padding: 36px 0;
    color: white;
  }
  .footer > nav {
    padding-top: 24px;
    padding-bottom: 24px;
    text-transform: uppercase;
  }
</style>
